SERVER_PORT=
ENVIRONMENT=test|development|production
CLIENT_URLS=

# Database
DATABASE_URL=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# AWS
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_BUCKET_NAME=
CLOUDFRONT_DOMAIN=
CLOUDFRONT_KEY_PAIR_ID=
CLOUDFRONT_KEY_NAME=

# Auth
FIREBASE_CREDENTIALS=

# Email
MAILGUN_SENDING_KEY=
MAILGUN_SENDER=
MAILGUN_RECIPIENT=
MAILGUN_DOMAIN=
COURSE_COMPLETION_TEMPLATE_NAME=
EMAIL_FAILURE_CRON_SCHEDULE=

# Logging
LOG_LEVEL=debug|info|warning|error

# Metrics
METRICS_PORT=
